        <div class="modal-header">
            <h3 class="modal-title">Company</h3>
        </div>
        <form novalidate name="{{form.vars.name}}_angular" ng-submit="submit(lukkos_vcardbundle_company,'{{ path('new_company') }}')" {{ form_enctype(form) }} role="form">
        <div class="modal-body">
        {% raw %}
        <div ng-show="flash.message" class="alert alert-{{flash.status}}" ><span class="glyphicon glyphicon-{{flash.icon}}"></span>&nbsp; {{flash.message}}</div>
        {% endraw %}
            {{ form_widget(form) }}
            
            {% raw %}
                
                <div style="display:none">{{lukkos_vcardbundle_company|json}}</div>
                
            {% endraw %}
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a href="" ng-show="lukkos_vcardbundle_company.id" class="btn btn-danger" ng-click="remove(lukkos_vcardbundle_company)">Delete</a>
            <a href="" class="btn btn-warning" ng-click="cancel()">Cancel</a>
        </div>
        </form>