{% if is_granted("ROLE_ADMIN") %}
        <div class="modal-header">
            <h3 class="modal-title">Person</h3>
        </div>
        <form novalidate name="{{form.vars.name}}_angular" ng-submit="submit(lukkos_vcardbundle_person,'{{ path('new_vcard') }}')" {{ form_enctype(form) }} role="form">
        <div class="modal-body">
        {% raw %}
        <div ng-show="flash.message" class="alert alert-{{flash.status}}" ><span class="glyphicon glyphicon-{{flash.icon}}"></span>&nbsp; {{flash.message}}</div>
        {% endraw %}
            {{ form_widget(form) }}
            
            {% raw %}
                
                <div style="display:none">{{lukkos_vcardbundle_person|json}}</div>
                
            {% endraw %}
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a href="" ng-show="lukkos_vcardbundle_person.id" class="btn btn-danger" ng-click="remove(lukkos_vcardbundle_person)">Delete</a>
            <a href="" class="btn btn-warning" ng-click="cancel()">Cancel</a>
        </div>
        </form>
{% else %}
    <div class="modal-header">
            <h3 class="modal-title">Person</h3>
    </div>
    <style type="text/css">
        ul.milolist {
            list-style: none;
        }
        ul.milolist li{
            list-style: none;
            padding:10px;
        }
        ul.milolist li span{
            display: inline-block;
        }
        ul.milolist li span.label{
            color:#08C;   
            text-align:right;
            width:130px;
            padding-right:20px;
        }
    </style>
    <ul class="milolist" ng-show="lukkos_vcardbundle_person.id">
        {% raw %}
        <li><span class="label">Name:</span><span class="txt">{{lukkos_vcardbundle_person.name}}</span></li>
        <li><span class="label">Surname:</span><span class="txt">{{lukkos_vcardbundle_person.surname}}</span></li>
        <li><span class="label">Date of birth:</span><span class="txt">{{lukkos_vcardbundle_person.date_of_birth}}</span></li>
        <li><span class="label">Address:</span><span class="txt">{{lukkos_vcardbundle_person.address}}</span></li>
        <li><span class="label">Company:</span><span class="txt">{{lukkos_vcardbundle_person.companyName}}</span></li>
        <li><span class="label">Company address:</span><span class="txt">{{lukkos_vcardbundle_person.companyAddress}}</span></li>
        {% endraw %}
    </ul>
    <div class="modal-footer">
            <a href="" class="btn btn-warning" ng-click="cancel()">Cancel</a>
    </div>        
{% endif %}